/* 공통 */    

div {
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .row {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
 }
 
 .column {
    display: flex;
 }

 .columns {
    flex-wrap: wrap;
 }

 .width-05 {
    flex: none;
    width: 5%;
}

 .width-10 {
     flex: none;
     width: 10%;
 }

 .width-15 {
    flex: none;
    width: 15%;
}

 .width-20 {
    flex: none;
    width: 20%;
}

.width-25 {
    flex: none;
    width: 25%;
}

.width-30 {
    flex: none;
    width: 30%;
}

.width-35 {
    flex: none;
    width: 35%;
}

.width-40 {
    flex: none;
    width: 40%;
}

.width-45 {
    flex: none;
    width: 45%;
}

.width-50 {
    flex: none;
    width: 50%;
}

.width-55 {
    flex: none;
    width: 55%;
}

.width-60 {
    flex: none;
    width: 60%;
}

.width-65 {
    flex: none;
    width: 65%;
}

.width-70 {
    flex: none;
    width: 70%;
}

.width-75 {
    flex: none;
    width: 75%;
}

.width-80 {
    flex: none;
    width: 80%;
}

.width-85 {
    flex: none;
    width: 85%;
}

.width-90 {
    flex: none;
    width: 90%;
}

.width-95 {
    flex: none;
    width: 95%;
}

.width-100 {
    flex: none;
    width: 100%;
}
  
/* 헤더 */    
.de-top-menu {
    height: 50px;
    width: 100%;
    background: #EFF1F2;
    padding: 15px 130px 15px 10px;
    font-size: 18px;
    color: #56575b;
}

.de-top-navi {
    width: 100%;
    background: #ffffff;
    padding: 15px 0px 15px 50px;
    font-size: 18px;
    color: #56575b;
    height: 80px;
}

.de-top-popup {
    text-align: center;
 }
  
ul.de-top-navibar > li {
  margin: 0 0 0 0;
  padding: 0 5px 0 5px;
  border : 0;
  float: left;
}
  
ul.de-top-navibar {
  float: right;
  list-style: none;
}
      
ul.de-second-navibar > li {
    margin: 0 0 0 0;
    padding: 15px 0px 14px 62px;
    border: 0;
    float: left;
    font-size:20px;
}
  
ul.de-second-navibar {
    list-style: none;
    font-weight:bold;
}
      
ul.de-hidden-navibar > li {
    margin: 0 0 0 0;
    padding: 35px 50px 35px 50px;
    border: 0;
    display: inline-block;
    font-weight: bold;
}

ul.de-hidden-navibar > li > a {
    text-decoration: none;
}
ul.de-hidden-navibar {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    z-index: 1;
    background-color: rgba( 42, 57, 78, 0.80 );
    position: absolute;
    width: 100%;
}
      
ul.de-second-navibar > li > a:hover, a:focus, a:active {
    color:#E89B17;
    text-decoration: none;
}
ul.de-second-navibar > li > a:hover {
    color:#E89B17;
}
    
img.de-img-logo {
    width: 14%;
    height: auto;
    float: left;
}   
    
ul.de-second-navibar>li>a {
    color:#232427;
}
    
input.de-search {
    height: 41px;
    width: 229px;
    border: 1px solid #707070;
    border-radius: 30px;
    text-indent: 40px;
    margin: 5px 0px 0px 20px;
    background-image: url(/img/head/zoom.png);
    background-position: 15px;
    background-repeat: no-repeat;
}

ul.de-hidden-navibar > li > a > span {
    color:#ffffff
}

.slider-off {
    font-size: 24px;
    position: absolute;
    left: 87%;
    top: 22%;
    z-index: 1;
}

.de-banner-checkbox {
    width: 25px;
    height: 25px;
}

/* 헤더 부 슬라이더 */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 10px;
    width: 35px;
    position: absolute;
    top: 3px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    width: 98%;
    text-align: right;
    position: absolute;
    top: -15px;
}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    position: sticky;
    margin-bottom: 0px;
    padding: 0;
    zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    text-align:center;
}

img.banner {
    width: 50%;
    display:inline-block;
}

/* 메인본문 */
div.de-main-container {
    height: 820px;
    background-image: url(/img/main/gntp.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #707070;
    background-blend-mode: multiply;
    border-bottom: 10px solid #00B7EC;
}
div.de-section-1 {
    height:600px;
    padding:200px;
    text-align: center;
}

span.de-font-1, .de-font-2, .de-font-3 {
    color: #fff;
    text-shadow: 1px 1px 5px #19394E;
}
span.de-font-1 {
    font-size:24px;
}
span.de-font-2 {
    font-size: 56px;
    font-weight: bold;
}
span.de-font-3 {
    font-size:56px;
}
div.de-section-1 > p {
    margin: 15px 10px 20px 10px;
}
.de-btn-box {
    margin-top: 30px;
}
button.de-btn-more {
	background-color:rgba( 255, 255, 255, 0.3 );
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
    text-decoration:none;
    
}
button.de-btn-more:hover {
	background-color:transparent;
}

.de-btn-box-1 {
    margin-top: 20px;
    text-align: center;
}

.de-btn-more-1 {
    background-color:transparent;
    border-radius: 28px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 5px 15px;
    text-decoration: none;
}

button.de-btn-color-1.orange {
    background: #f28910;
    border-radius: 28px;
    border: 0px solid transparent;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    width: 86px;
    height: 34px;
}

button.de-btn-color-1.green {
    background: #74BC40;
    border-radius: 28px;
    border: 0px solid transparent;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    width: 86px;
    height: 34px;
}

button.de-btn-color-1.blue {
    background: #00B7EC;
    border-radius: 28px;
    border: 0px solid transparent;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    width: 86px;
    height: 34px;
}

div.de-section-2 {
    width:100%;
    height:210px;
    display: flex;
    color:#fff;
    background-color:rgba( 26, 33, 41, 0.5 );
    background-blend-mode: multiply;

}
div.de-sub-1, .de-sub-2, .de-sub-3, .de-sub-4 {
    width:100%;
    height: 100%;
}

div.de-sub-2, .de-sub-3, .de-sub-4 {
    padding: 10px 10px 10px 10px;
}

.de-sub-1 {
    padding: 40px 10px 10px 10px;
}

.de-font-4 {
    text-align: center;
    font-size: 33px;
}

input.de-input-biz {
    width: 270px;
    height: 41px;
    border-radius: 50px;
    background-image: url(/img/head/zoom-2.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 10px 12px;
    text-indent: 35px;
    
}
input.de-input-biz::placeholder {
    font-size:12px;
}

div.de-search-biz {
    text-align: center;
    margin-top: 20px;
}

.de-subject-1, .de-subject-2 {
    margin: 15px 0px 15px 0px;
    font-size: 24px;
}

.de-subject-1 {
    font-weight: bold;
    display: inline-block;
    width: 430px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.de-subject-2 {
    color: #ffffff;
    text-shadow: 0px 0px 1px #424346;
    opacity: 0.69;
}

button.de-btn-more-2 {
    background: transparent;
    border-radius: 28px;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    width: 72px;
    height: 31px;
}






/* 스크롤 애니메이션 */

.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 90%;
    margin: 0 auto;
    width: 34px;
    height: 30%;
}

.mousey {
    width: 3px;
    padding: 7px 12px;
    height: 35px;
    border-radius: 25px;
    border: 2px solid #fff;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 8px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    
    0% {
        opacity: 0;
    }
    
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    
    100% {
        transform: translateY(15px);
        opacity:0;
    }
    
    @keyframes downup {
        
        0% {
            opacity: 0;
            transform: translateY(0, 100px);
        }
        
        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
    
    @keyframes bounce {
        
        from,
        to {
            margin-bottom: 0;
            animation-timing-function: ease-out;
        }
        
        50% {
            margin-bottom: 8px;
            animation-timing-function: ease-in;
        }
    }
}

div.scroll-text {
    color:white;
    font-size:14px;

}

/* fullpage.js */
div.de-none-container {
    height:500px;
}
